.navbar-style
{
    background-color: slategrey;
    box-shadow: 0 5px 10px #efefef;
}

.container {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit{
    padding-top: 50px;
}