.navbar-style
{
    background-color: slategrey;
    box-shadow: 0 5px 10px #efefef;
}

.inputContainer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}